<!DOCTYPE html>
<html>

<head>
    <title>how to fetch data from database in node js and display in html</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#/th>
                <th scope="col">Admin_id/th>
                <th scope="col">Admin_f_N</th>
                <th scope="col">Admin_m_N</th>

                <th scope="col">Admin_l_N</th>
                <th scope="col">Admin_emailid</th>
                <th scope="col">Admin_contNo</th>
                <th scope="col">Admin_add</th>


            </tr>
        </thead>
        <tbody>
            <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                <tr>
                    <th scope="row">
                        <%= (i+1) %>
                    </th>
                    <td>
                        <%= data[i].Admin_id%>
                    </td>
                    <td>
                        <%= data[i].Admin_f_N%>
                    </td>
                    <td>
                        <%= data[i].Admin_m_N%>
                    </td>
                    <td>
                        <%= data[i].Admin_l_N%>
                    </td>
                    <td>
                        <%= data[i].Admin_emailid%>
                    </td>
                    <td>
                        <%= data[i].Admin_contNo%>
                    </td>
                    <td>
                        <%= data[i].Admin_add%>
                    </td>

                </tr>
                <% } }else{ %>
                    <tr>
                        <td colspan="3">No user</td>
                    </tr>
                    <% } %>

        </tbody>
    </table>





</body>

</html>